<section class="about-section" id="about">
  <div class="container about-container">
    <h2 class="about-title">About the game</h2>
    <div>
      <p class="about-text">
        Journey Home - Merge & Stories is a cozy and mysterious merge puzzle
        game where you help Rachel uncover hidden family secrets, renovate
        charming spaces, and serve treats in your cafe — all while exploring a
        small town full of quirky characters and dramatic gossip.
      </p>
      <div class="about-image-wrapper">
        <img class="about-image1" src="./img/about/about-image1@1x.png" srcset="
            ./img/about/about-image1@1x.png 1x,
            ./img/about/about-image1@2x.png 2x
          " alt="game-desc-img" />
        <img class="tape-decoration1" src="./img/about/about-tape.png" alt="tape-decoration" aria-hidden="true" />
      </div>
    </div>
    <div>
      <p class="about-text">
        The game blends an easy-to-learn yet addictive mechanic: merge everyday
        items (like eggs, jam, coffee, and more) to create fresh recipes for the
        Local Crust Café — your central hub for interacting with locals and
        progressing through the story. These combinations not only help you
        serve customers but also unlock new categories of items and resources to
        keep the gameplay evolving.
      </p>
      <div class="about-image-wrapper">
        <img class="about-image2" src="./img/about/about-image2@1x.png" srcset="
            ./img/about/about-image2@1x.png 1x,
            ./img/about/about-image2@2x.png 2x
          " alt="game-desc-img" />
        <img class="tape-decoration2" src="./img/about/about-tape.png" alt="tape-decoration" aria-hidden="true" />
      </div>
    </div>
  </div>
</section>