<section class="benefits-container container" aria-labelledby="benefits-title">
	<div>
		<h2 id="benefits-title" class="benefits-title">Benefits</h2>
		<ul class="benefits-list">
			<li class="benefit">
				<div class="benefit-circle" tabindex="0" aria-label="Rating 4.6">
					<div class="benefit-content">
						<svg class="benefit-icon benefit-icon-star" viewBox="0 0 84 80" aria-hidden="true">
							<use href="./img/sprite.svg#icon-star" xlink:href="#icon-star"></use>
						</svg>
						<span class="benefit-value">4.6 <br>Rating</span>
					</div>
				</div>
			</li>
			<li class="benefit">
				<div class="benefit-circle" tabindex="0" aria-label="Downloads 50 000+">
					<div class="benefit-content">
						<svg class="benefit-icon benefit-icon-download" viewBox="0 0 65 98" aria-hidden="true">
							<use href="./img/sprite.svg#icon-download" xlink:href="#icon-download"></use>
						</svg>
						<span class="benefit-value">50 000 + <br>Downloads</span>
					</div>
				</div>
			</li>
			<li class="benefit">
				<div class="benefit-circle" tabindex="0" aria-label="More than 1000 reviews">
					<div class="benefit-content">
						<svg class="benefit-icon" viewBox="0 0 111 97" aria-hidden="true">
							<use href="./img/sprite.svg#icon-message" xlink:href="#icon-message"></use>
						</svg>
						<span class="benefit-value">1000 + <br>Reviews</span>
					</div>
			</li>
			<li class="benefit">
				<div class="benefit-circle" tabindex="0" aria-label="Works online and offline">
					<div class="benefit-content">
						<svg class="benefit-icon" viewBox="0 0 104 77" aria-hidden="true">
							<use href="./img/sprite.svg#icon-wifi" xlink:href="#icon-wifi"></use>
						</svg>
						<span class="benefit-value">Online &amp;<br>Offline</span>
					</div>
			</li>
		</ul>
	</div>
</section>