<div class="cookies-modal js-is-closed" data-cookies-modal>
  <div class="cookies-modal-container">
    <img
      class="cookies-modal-image"
      src="./img/cookies/cookie@1x.png"
      srcset="./img/cookies/cookie@1x.png 1x, ./img/cookies/cookie@2x.png 2x"
      alt="cookie-icon"
    />
    <div>
      <div class="cookies-modal-text-wrapper">
        <h2 class="cookies-modal-title">Cookies Policy</h2>
        <p class="cookies-modal-text">
          We use cookies to improve your experience on our website. By browsing
          this website, you agree to our use of cookies
        </p>
      </div>
      <div class="cookies-modal-btn-wrapper">
        <button data-isAccepted="false" class="cookies-modal-button accept">
          ACCEPT COOKIES
        </button>
        <button data-isAccepted="false" class="cookies-modal-button decline">
          DECLINE COOKIES
        </button>
      </div>
    </div>
  </div>
</div>
