<footer class="footer-section">
  <div class="container footer-container">
    <ul class="footer-list">
      <li class="footer-list-item">
        <a href="./privacy.html">Privacy policy</a>
      </li>
      <li class="footer-list-item">
        <a href="./terms.html">Terms&Conditions</a>
      </li>
      <li class="footer-list-item">
        <a href="./cookies.html">Cookies Policy</a>
      </li>
    </ul>
    <p class="footer-text">
      © 2025 digitzio.space
      <span class="footer-divider">All rights reserved</span>
    </p>
  </div>
</footer>