<section class="gallery-section" aria-labelledby="gallery-title" id="gallery">
	<div class="container gallery-container">
		<h2 id="gallery-title" class="gallery-title">Gallery</h2>
		<div class="gallery-swiper-wrapper">
			<div class="swiper js-gallery-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide gallery-slide" tabindex="0">
						<img class="gallery-image" src="./img/gallery/gallery-image1@1x.webp"
							srcset="./img/gallery/gallery-image1@1x.webp 1x, ./img/gallery/gallery-image1@2x.webp 2x"
							alt="Renovate house screenshot" />
					</div>
					<div class="swiper-slide gallery-slide" tabindex="0">
						<img class="gallery-image" src="./img/gallery/gallery-image2@1x.webp"
							srcset="./img/gallery/gallery-image2@1x.webp 1x, ./img/gallery/gallery-image2@2x.webp 2x"
							alt="Fun-packed events screenshot" />
					</div>
					<div class="swiper-slide gallery-slide" tabindex="0">
						<img class="gallery-image" src="./img/gallery/gallery-image3@1x.webp"
							srcset="./img/gallery/gallery-image3@1x.webp 1x, ./img/gallery/gallery-image3@2x.webp 2x"
							alt="Help them screenshot" />
					</div>
					<div class="swiper-slide gallery-slide" tabindex="0">
						<img class="gallery-image" src="./img/gallery/gallery-image4@1x.webp"
							srcset="./img/gallery/gallery-image4@1x.webp 1x, ./img/gallery/gallery-image4@2x.webp 2x"
							alt="Dream journey screenshot" />
					</div>
					<div class="swiper-slide gallery-slide" tabindex="0">
						<img class="gallery-image" src="./img/gallery/gallery-image5@1x.webp"
							srcset="./img/gallery/gallery-image5@1x.webp 1x, ./img/gallery/gallery-image5@2x.webp 2x"
							alt="Serve customers screenshot" />
					</div>
				</div>
			</div>

			<button class="gallery-swiper-btn js-gallery-swiper-btn-prev" aria-label="Previous screenshot">
				<svg class="gallery-arrow" width="32" height="28" aria-hidden="true">
					<use href="./img/sprite.svg#icon-arrow-left"></use>
				</svg>
			</button>
			<button class="gallery-swiper-btn js-gallery-swiper-btn-next" aria-label="Next screenshot">
				<svg class="gallery-arrow" width="32" height="28" aria-hidden="true">
					<use href="./img/sprite.svg#icon-arrow-right"></use>
				</svg>
			</button>
		</div>

		<div class="gallery-googleplay">
			<a class="gallery-googleplay-btn" href="https://play.google.com/store/apps/details?id=com.wixot.merge&hl=en&gl=us"
				target="_blank" rel="noopener" aria-label="Get it on Google Play">
				<img src="./img/gallery/googleplay-btn.png" alt="Get it on Google Play" width="277" height="80"
					class="gallery-googleplay-img" />
			</a>
		</div>
	</div>
</section>