<section class="gallery-section" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./img/gallery/gallery-image1@1x.webp"
            srcset="
              ./img/gallery/gallery-image1@1x.webp 1x,
              ./img/gallery/gallery-image1@2x.webp 2x
            "
            alt="gallery-gameplay-image"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/gallery/gallery-image2@1x.webp"
            srcset="
              ./img/gallery/gallery-image2@1x.webp 1x,
              ./img/gallery/gallery-image2@2x.webp 2x
            "
            alt="gallery-gameplay-image"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/gallery/gallery-image3@1x.webp"
            srcset="
              ./img/gallery/gallery-image3@1x.webp 1x,
              ./img/gallery/gallery-image3@2x.webp 2x
            "
            alt="gallery-gameplay-image"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/gallery/gallery-image4@1x.webp"
            srcset="
              ./img/gallery/gallery-image4@1x.webp 1x,
              ./img/gallery/gallery-image4@2x.webp 2x
            "
            alt="gallery-gameplay-image"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./img/gallery/gallery-image5@1x.webp"
            srcset="
              ./img/gallery/gallery-image5@1x.webp 1x,
              ./img/gallery/gallery-image5@2x.webp 2x
            "
            alt="gallery-gameplay-image"
          />
        </div>
      </div>
      <div class="swiper-button-next">
        <svg class="gallery-btn-svg" width="17" height="15">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <div class="gallery-btn-wrapper">
      <button class="download-btn">
        <a
          href="https://play.google.com/store/apps/details?id=com.wixot.merge&hl=en&gl=us"
          target="_blank"
          ><img
            class="gallery-dl-image"
            src="./img/hero/googleplay.png"
            alt="googleplay-icon"
        /></a>
      </button>
    </div>
  </div>
</section>
