<section class="hero-section" id="home">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title">Journey Home – Merge & Stories</h1>
      <p class="hero-text">
        Dive into the charming town of Lake Arbos, where every merge brings you
        closer to solving family mysteries and restoring beautiful spaces. Team
        up with Rachel and Detective Collins, combine everyday items into
        delightful creations, and give your café and home a personal touch — all
        while meeting quirky locals and uncovering secrets hidden around every
        corner.
      </p>
      <button class="download-btn">
        <a href="https://play.google.com/store/apps/details?id=com.wixot.merge&hl=en&gl=us" target="_blank"><img
            class="hero-dl-image" src="./img/hero/googleplay.png" alt="googleplay-icon" /></a>
      </button>
    </div>
    <img class="hero-image" src="./img/hero/hero-poster@1x.jpg" srcset="
        ./img/hero/hero-poster@1x.jpg 1x,
        ./img/hero/hero-poster@2x.jpg 2x
      " alt="game-poster" />
  </div>
</section>