<section class="htp-section">
  <div class="container htp-container">
    <div class="htp-wrapper">
      <div class="htp-text-wrapper">
        <h2 class="htp-title">How to play</h2>
        <ul class="htp-list">
          <li class="htp-list-item">
            Explore Locations – Visit the café, home, garden, and mansion to
            find new tasks.
          </li>
          <li class="htp-list-item">
            Merge Items – Combine 3+ identical objects to create upgraded ones.
          </li>
          <li class="htp-list-item">
            Complete Tasks – Fulfill quests to unlock story chapters and
            rewards.
          </li>
          <li class="htp-list-item">
            Decorate & Renovate – Use earned resources to upgrade and style
            locations.
          </li>
          <li class="htp-list-item">
            Talk to Characters – Interact with locals to get missions and
            discover secrets.
          </li>
          <li class="htp-list-item">
            Use Boosters – Speed up merging or overcome tricky challenges.
          </li>
          <li class="htp-list-item">
            Join Events – Participate in seasonal or limited-time activities for
            special prizes.
          </li>
        </ul>
      </div>
      <div class="htp-image-wrapper">
        <img
          class="htp-image"
          src="./img/how-to-play/htp-image@1x.png"
          srcset="
            ./img/how-to-play/htp-image@1x.png 1x,
            ./img/how-to-play/htp-image@2x.png 2x
          "
          alt="htp-section-image"
        />
        <img
          class="htp-tape-decoration1"
          src="./img/about/about-tape.png"
          alt="tape-decoration"
          aria-hidden="true"
        />
        <img
          class="htp-tape-decoration2"
          src="./img/about/about-tape.png"
          alt="tape-decoration"
          aria-hidden="true"
        />
      </div>
    </div>
  </div>
</section>
