<section class="reviews-section" aria-labelledby="reviews-title" id="reviews">
	<div class="container">
		<h2 id="reviews-title" class="reviews-title">Reviews</h2>

		<ul class="reviews-list">
			<li class="review">
				<article class="review-card" tabindex="0" aria-label="Review by @CandyQueen98 rated 4 of 5">
					<h3 class="review-user">@CandyQueen98</h3>
					<p class="review-text">
						Absolutely love it! The levels are fun and challenging. The candy graphics are so cute!
					</p>
					<ul class="review-stars" aria-label="Rating 4 out of 5">
						<li><svg class="review-star" viewBox="0 0 84 80" aria-hidden="true">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80" aria-hidden="true">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80" aria-hidden="true">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80" aria-hidden="true">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star review-star-empty" viewBox="0 0 20 21" aria-hidden="true">
								<use href="./img/sprite.svg#icon-star-black"></use>
							</svg></li>
					</ul>
				</article>
			</li>

			<li class="review">
				<article class="review-card" tabindex="0" aria-label="Review by @PuzzleLoverX rated 5 of 5">
					<h3 class="review-user">@PuzzleLoverX</h3>
					<p class="review-text">
						My favorite match-3 game ever! The boosters are super satisfying to use.
					</p>
					<ul class="review-stars" aria-label="Rating 5 out of 5">
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
					</ul>
				</article>
			</li>

			<li class="review">
				<article class="review-card" tabindex="0" aria-label="Review by @JellyGemHunter rated 3 of 5">
					<h3 class="review-user">@JellyGemHunter</h3>
					<p class="review-text">
						Great game to pass the time. I just wish there were more daily rewards.”
					</p>
					<ul class="review-stars" aria-label="Rating 3 out of 5">
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star review-star-empty" viewBox="0 0 20 21">
								<use href="./img/sprite.svg#icon-star-black"></use>
							</svg></li>
						<li><svg class="review-star review-star-empty" viewBox="0 0 20 21">
								<use href="./img/sprite.svg#icon-star-black"></use>
							</svg></li>
					</ul>
				</article>
			</li>

			<li class="review">
				<article class="review-card" tabindex="0" aria-label="Review by @SweetToothGamer rated 4 of 5">
					<h3 class="review-user">@SweetToothGamer</h3>
					<p class="review-text">
						Nice design, smooth gameplay, and no annoying ads. Thumbs up!
					</p>
					<ul class="review-stars" aria-label="Rating 4 out of 5">
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star" viewBox="0 0 84 80">
								<use href="./img/sprite.svg#icon-star"></use>
							</svg></li>
						<li><svg class="review-star review-star-empty" viewBox="0 0 20 21">
								<use href="./img/sprite.svg#icon-star-black"></use>
							</svg></li>
					</ul>
				</article>
			</li>
		</ul>
	</div>
</section>