.gallery-section {
  padding-bottom: var(--gap);
}

.gallery-btn-wrapper {
  display: flex;
  justify-content: center;
}

.swiper {
  margin-bottom: 100px;
}

.gallery-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 32px;
}

.swiper-slide img {
  border-radius: 20px;
}

.swiper-button-next {
  border-radius: 84px;
  width: 67px;
  height: 67px;
  background-color: #cdc3c9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 999;
  transition: var(--transition);
}

.swiper-button-next:hover,
.swiper-button-next:focus-within {
  opacity: 0.8;
}

.swiper-button-next:active {
  background-color: #9f9f9f;
}

@media only screen and (min-width: 1200px) {
  .gallery-section {
    padding-bottom: 75px;
  }

  .swiper-button-next {
    width: 100px;
    height: 100px;
    right: 40px;
  }

  .gallery-title {
    font-size: 36px;
  }
}
