.htp-section {
  padding-bottom: var(--gap);
}

.htp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.htp-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
}

.htp-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.htp-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.htp-list {
  list-style: outside;
  max-width: 281px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.htp-list-item {
  font-weight: 500;
}

.htp-image-wrapper {
  position: relative;
}

.htp-image {
  max-width: 249px;
}

.htp-tape-decoration1 {
  position: absolute;
  top: 0;
  left: -40px;
  width: 130px;
  height: 40px;
  transform: rotate(140deg);
  pointer-events: none;
  opacity: 85%;
}

.htp-tape-decoration2 {
  position: absolute;
  bottom: -10px;
  left: 140px;
  width: 140px;
  height: 50px;
  transform: rotate(145deg);
  pointer-events: none;
  opacity: 85%;
}

@media only screen and (min-width: 1200px) {
  .htp-section {
    padding-bottom: 75px;
  }

  .htp-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
  }

  .htp-title {
    font-size: 36px;
  }

  .htp-list {
    max-width: 593px;
  }

  .htp-list-item {
    font-size: 24px;
  }

  .htp-image {
    min-width: 416px;
  }

  .htp-tape-decoration1 {
    width: 150px;
    height: 50px;
  }

  .htp-tape-decoration2 {
    bottom: 0;
    left: 310px;
    width: 150px;
  }
}
