.legal li,
.legal p {
  font-weight: var(--secondary-text-fw);
  font-size: var(--secondary-mobile-fs);
}

.legal h2 {
  font-family: var(--secondary-page-font);
  font-weight: var(--secondary-title-fw);
  font-size: var(--secondary-mobile-fs);
  margin-bottom: 20px;
}

.legal-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.legal-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legal-link-text {
  font-weight: 600;
  font-size: 12px;
}

.legal-title {
  font-family: var(--secondary-page-font);
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 18px;
}

.legal-section {
  padding: var(--gap) 0;
}

.legal-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 252px;
}

.legal-list {
  list-style: inside;
}

@media only screen and (min-width: 1200px) {

  .legal li,
  .legal p {
    font-size: var(--secondary-desktop-fs);
  }

  .legal h2 {
    font-size: var(--secondary-desktop-fs);
    margin-bottom: var(--gap);
  }

  .legal-header-wrapper {
    gap: 18px;
  }

  .legal-link svg {
    width: 44px;
    height: 44px;
  }

  .legal-link-text {
    font-size: 36px;
  }

  .legal-title {
    font-size: 20px;
  }

  .legal-container {
    gap: var(--gap);
    max-width: 913px;
  }
}